<%- include('parts/head', {bot, user, path}) %>
      <div class="d-flex flex-column flex-root">
         <div class="page d-flex flex-row flex-column-fluid">
<%- include('parts/aside', {bot, user, path}) %>
               <div class="content fs-6 d-flex flex-column flex-column-fluid" id="kt_content">
                  <div class="toolbar" id="kt_toolbar">
                     <div class="container d-flex flex-stack flex-wrap flex-sm-nowrap">
                        <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
                           <h1 class="text-dark fw-bolder my-1 fs-2">Account</h1>
                        </div>
                     </div>
                  </div>
                  <div class="container">
                     <div class="card mb-5 mb-xl-10">
                        <div class="card-header border-0">
                           <div class="card-title">
                              <h3 class="fw-boldest m-0">Overview</h3>
                           </div>
                        </div>
                        <div class="collapse show">
                           <div class="card-body border-top p-9">
                           
                              <div class="d-flex align-items-start flex-wrap">
                              
                                 <div class="d-flex flex-wrap">
                                    <div class="symbol symbol-125px mb-7 me-7 position-relative">
                                       <img draggable="false" style="object-fit: cover" draggable="false" src="<%=ly.fetch(`account.${user.id}.avatar`) || "https://i.ibb.co/8mXdWsM/user2.png"%>?size=2048" onerror="this.onerror=null;this.src='https://i.ibb.co/8mXdWsM/user2.png'" alt="image" />
                                    </div>
                                    <div class="d-flex flex-column">
                                       <div class="fs-2 fw-boldest mb-1"><%=user.username || user.displayName%>
                                </div>
                                       <a style="pointer-events:none" class="mt-1 fw-bold d-flex text-bold align-items-center text-gray-400 text-hover-primary mb-2"><i class="fa fa-fingerprint" style="margin-right:5px"></i> <%=user.id%></a>
                                       <a style="pointer-events:none" class="fw-bold d-flex text-bold align-items-center text-gray-400 text-hover-primary mb-2"><i class="fa fa-at" style="margin-right:5px"></i> <%=user.email || user.emails[0].value || "local@apptime.tech"%></a>
                                       <a style="pointer-events:none" class="fw-bold d-flex text-bold align-items-center text-gray-400 text-hover-primary mb-2"><i class="fa fa-ethernet" style="margin-right:5px"></i> Connected via <%=ly.fetch(`client.${user.id}`) || "Discord"%></a>
                                    </div>
                                 </div>
                                 <div id="ob" class="ms-auto mb-7">
                                 <a href="/account/logout" class="btn btn-light-danger">Logout</a>
                                 <% if(ly.fetch(`client.${user.id}`) === "Discord") {%>
                                 <a href="/auth/discord" class="btn btn-primary">Update Datas</a>
                                 <% } else { %>
                                 <a href="/auth/google" class="btn btn-primary">Update Datas</a>
                                 <% } %>
                                 </div>
                              </div>
                                                <% if(ly.fetch(`beta.${user.id}.status`)) { %>
                     <div class="notice d-flex bg-light-warning rounded border-warning border border-dashed rounded p-6">
                        <span class="svg-icon svg-icon-2tx svg-icon-warning me-4">
												<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<path d="M6,7 C7.1045695,7 8,6.1045695 8,5 C8,3.8954305 7.1045695,3 6,3 C4.8954305,3 4,3.8954305 4,5 C4,6.1045695 4.8954305,7 6,7 Z M6,9 C3.790861,9 2,7.209139 2,5 C2,2.790861 3.790861,1 6,1 C8.209139,1 10,2.790861 10,5 C10,7.209139 8.209139,9 6,9 Z" fill="#000000" fill-rule="nonzero" />
													<path d="M7,11.4648712 L7,17 C7,18.1045695 7.8954305,19 9,19 L15,19 L15,21 L9,21 C6.790861,21 5,19.209139 5,17 L5,8 L5,7 L7,7 L7,8 C7,9.1045695 7.8954305,10 9,10 L15,10 L15,12 L9,12 C8.27142571,12 7.58834673,11.8052114 7,11.4648712 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
													<path d="M18,22 C19.1045695,22 20,21.1045695 20,20 C20,18.8954305 19.1045695,18 18,18 C16.8954305,18 16,18.8954305 16,20 C16,21.1045695 16.8954305,22 18,22 Z M18,24 C15.790861,24 14,22.209139 14,20 C14,17.790861 15.790861,16 18,16 C20.209139,16 22,17.790861 22,20 C22,22.209139 20.209139,24 18,24 Z" fill="#000000" fill-rule="nonzero" />
													<path d="M18,13 C19.1045695,13 20,12.1045695 20,11 C20,9.8954305 19.1045695,9 18,9 C16.8954305,9 16,9.8954305 16,11 C16,12.1045695 16.8954305,13 18,13 Z M18,15 C15.790861,15 14,13.209139 14,11 C14,8.790861 15.790861,7 18,7 C20.209139,7 22,8.790861 22,11 C22,13.209139 20.209139,15 18,15 Z" fill="#000000" fill-rule="nonzero" />
												</svg>
											</span>
                        <div class="d-flex flex-stack flex-grow-1">
                           <div class="fw-bold">
                              <h4 class="text-gray-800 fw-bolder">Beta Mode opened</h4>
                              <div class="fs-6 text-gray-600">You may see errors because you are in beta mode! Please let us know about it.
                              </div>
                           </div>
                        </div>
                     </div>
                     <% } %>
                           </div>
                        </div>
                     </div>


                     <div class="card" id="kt_account_settings_info" data-kt-scroll-offset="{default: 100, md: 125}">
                        <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_basic_info" aria-expanded="true" aria-controls="kt_account_basic_info">
                           <div class="card-title m-0">
                              <h3 class="fw-boldest m-0">Edit Account</h3>
                           </div>
                        </div>
                        <div id="kt_account_basic_info" class="collapse">
                           <form method="POST" action="/account">
                              <div class="card-body border-top p-9">
                                 <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label fw-bold fs-6">Avatar</label>
                                    <div class="col-lg-8 fv-row">
                                    <div class="input-group">
                                       <% if(!ly.fetch(`account.${user.id}.avatar`)) { %>
                                       <input autocomplete="off" type="url" name="avatar" id="avatar" class="form-control form-control-lg form-control-solid" placeholder="https://i.imgur.com/123" />
                                       <% } else {%>
                                       <input autocomplete="off" type="url" name="avatar" id="avatar"class="form-control form-control-lg form-control-solid" placeholder="https://i.imgur.com/123" value="<%=ly.fetch(`account.${user.id}.avatar`)%>" />
                                       <% } %>
                                       <a role="button" onclick="window.location.href='/account/sync/avatar'" class="btn btn-light-primary">Sync with <%=ly.fetch(`client.${user.id}`) || "Discord"%></a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label fw-bold fs-6">
                                    <span class="">Authorization Key</span>
                                    </label>
                                    <div class="col-lg-8 fv-row">
                                       <input id="kt_clipboard_1" autocomplete="off" type="text" disabled="" class="form-control form-control-lg form-control-solid" placeholder="-error-" value="<%=ly.fetch(`account.${user.id}.authkey`) || "-error-"%>" />
                                    </div>
                                 </div>
                                 <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label fw-bold fs-6">Beta Mode</label>
                                    <div class="col-lg-8 d-flex align-items-center">
                                       <div class="form-check form-check-solid form-switch fv-row">
                                          <% if(!ly.fetch(`beta.${user.id}.status`)) { %>
                                          <input onclick="window.location.href='/account/beta'" class="form-check-input w-45px h-30px" type="checkbox" id="allowmarketing" />
                                          <label class="form-check-label" for="allowmarketing"></label>
                                          <% } else { %>
                                          <input onclick="window.location.href='/account/beta'" class="form-check-input w-45px h-30px" type="checkbox" id="allowmarketing" checked="" />
                                          <label class="form-check-label" for="allowmarketing"></label>
                                          <% } %>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row mb-0">
                                    <label class="col-lg-4 col-form-label fw-bold fs-6">Usage Datas</label>
                                    <div class="col-lg-8 d-flex align-items-center">
                                       <div class="form-check form-check-solid form-switch fv-row">
                                          <input class="form-check-input w-45px h-30px" type="checkbox" id="allowmarketing" checked="checked" disabled="" />
                                          <label class="form-check-label" for="allowmarketing"></label>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="card-footer d-flex justify-content-end py-6 px-9">
                                 <button type="reset" class="btn btn-white btn-active-light-primary me-2">Discard</button>
                                 <button type="submit" class="btn btn-primary" id="kt_account_basic_info_submit">Save Changes</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      </div>
<%- include('parts/footer', {bot, user, path}) %>
   </body>
</html>
                                 